@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Math Game</h1>
    <div>
        <img src="~/images/school-3518726_1920.jpg" height="750" alt="home page image" />
    </div>
   
</div>
